body {
    width: 800px;
    margin: auto;
   }


   .stern1 {
       position: absolute;
       left: 520px;
       top: 355px;
   }




   .stern2 {
    position: absolute;
    left: 620px;
    top: 280px;
}


.stern3 {
    position: absolute;
    left: 740px;
    top: 420px;
}




.stern4 {
    position: absolute;
    left: 900px;
    top: 340px;
}



.Star1 {
   
    position: absolute;
    display: inline-block;
    margin: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    
}

.Star2 {
   
    position: absolute;
    display: inline-block;
    margin: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    
}

.Star3 {
   
    position: absolute;
    display: inline-block;
    margin: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    
}

.Star4 {
   
    position: absolute;
    display: inline-block;
    margin: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    
}



.filledstar1 {
    display: none;
    position: absolute;
    left: 520px;
    top: 355px;
    
}

.Stars:hover .filledstar1 {
    display: inline;
}


.filledstar2 {
    display: none;
    position: absolute;
    left: 620px;
    top: 280px;
    
}

.Stars:hover .filledstar2 {
    display: inline;
}


.filledstar1 {
    display: none;
    position: absolute;
    left: 520px;
    top: 355px;
    
}

.Stars:hover .filledstar1 {
    display: inline;
}


.filledstar1 {
    display: none;
    position: absolute;
    left: 520px;
    top: 355px;
    
}

.Star1:hover .filledstar1 {
    display: inline;
}

.filledstar2 {
    display: none;
    position: absolute;
    left: 620px;
    top: 280px;
    
}

.Star2:hover .filledstar2 {
    display: inline;
}

.filledstar3 {
    display: none;
    position: absolute;
    left: 740px;
    top: 420px;
    
}

.Star3:hover .filledstar3 {
    display: inline;
}

.filledstar4 {
    display: none;
    position: absolute;
    left: 900px;
    top: 340px;
    
}

.Star4:hover .filledstar4 {
    display: inline;
}

div.relative  {
    color: white;
    font: times;
    font-weight: bold;
    font-size: XX-Large;
    position: absolute;
    left: 510px;
    top: 145px;   
}

div.Furtwangen {
    color: white;
    font: times;
    font-weight: bold;
    font-size: XX-Large;
    position: absolute;
    left: 510px;
    top: 185px; 
}




