body {
    width: 800px;
    margin: auto;
   }


h1 {
    color: white;
    font: times;
    font-weight: bold;
    font-size: XX-Large;
    position: absolute;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }