body {
    width: 800px;
    margin: auto;
   }


   .busch {
       position: absolute;
       left: 400px;
       top: 85px;
   }


   .pinguin {
    position: absolute;
    right: 460px;
    top: 375px;   
}

div.relative  {
    color: white;
    font: times;
    font-weight: bold;
    font-size: XX-Large;
    position: absolute;
    left: 530px;
    top: 170px;   
}

div.Furtwangen {
    color: white;
    font: times;
    font-weight: bold;
    font-size: XX-Large;
    position: absolute;
    left: 530px;
    top: 210px; 
}

div.Leser {
    color: white;
    font: times;
    font-size: medium;
    position: absolute;
    left: 530px;
    top: 315px; 
}

div.Wuensche {
    color: white;
    font: times;
    font-size: medium;
    position: absolute;
    left: 530px;
    top: 365px; 
}

div.Gruesse {
    color: white;
    font: times;
    font-size: medium;
    position: absolute;
    left: 530px;
    top: 465px; 
}